.preview-image{
  height: 254px;
  overflow: hidden;
}

.preview-image img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

@media (max-width: 485px){
  .platfrom-label{
    display: block !important;
  }
}