
.show-content input[type=text],
.show-content input[type=number]{
  background-color: transparent;
  color: #FFF;
  border: none;
  border-bottom: 1px solid #6c5dd3;
  border-radius: 0;
  padding: 2px;
}

.show-content input[type=text]:focus
.show-content input[type=number]:focus{
  background-color: transparent;
  color: #FFF;
  border: none;
  border-bottom: 1px solid #6c5dd3;
  border-radius: 0;
}

.show-content input[type=text]:focus,
.show-content input[type=number]:focus {
  color: #FFF;
  background-color: transparent;
  border-color: none;
  outline: 0;
  box-shadow: none;
}

.show-content input[type=text]:-webkit-autofill{
  background-color: #6f42c1 !important;
  -webkit-text-fill-color: #FFF;
  box-shadow: 0 0 0px 1000px #242731  inset;
  caret-color: white;
  transition: background-color 5000s ease-in-out 0s;
  border: none;
  border-bottom: 1px solid #6c5dd3;
  border-radius: 0;
  padding: 2px;
}

.show-content input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.show-content input[type=file]::-webkit-file-upload-button{
  display: none;
}

.show-content input[type=file]::before{
  content: 'Chọn File';
  display: inline-block;
  border: 1px solid #6c5dd3;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  margin-right: 12px;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 10pt;
}

.show-content input[type=file]:hover::before{
  content: 'Chọn File';
  display: inline-block;
  border: 1px solid #6c5dd3;
  background-color: #6c5dd3;
  color: #FFF;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  margin-right: 12px;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 10pt;
}

input[type=checkbox]{
  margin-bottom: 15px;
}

.form-check-label{
  margin-bottom: 15px;
  margin-right: 2px;
}

.button-add,
.button-edit,
.button-upload,
.button-upload-disable{
  background-color: #6c5dd3 !important;
  padding: 8px 24px;
  border: 1px solid #6c5dd3 !important;
  border-radius: 4px;
}

.button-add:hover,
.button-edit:hover,
.button-upload:hover{
  background-color: #5c4bce !important;
  border-color: #6c5dd3 !important;
  filter: drop-shadow(0px 15px 8px rgba(0, 0, 0, 0.5));
}

.button-add:focus,
.button-edit:focus,
.button-upload:focus{
  outline: 0 !important;
  border-color: #6c5dd3 !important;
  box-shadow: none !important;
}

.button-add:active,
.button-edit:active,
.button-upload:active{
  outline: 0 !important;
  border-color: #6c5dd3 !important;
  box-shadow: none !important;
}


.preview-image{
  height: 254px;
  overflow: hidden;
}

.preview-image img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.show-content .left-content{
  padding-right: 16px !important;
}

.show-content .right-content{
  padding-left: 16px !important;
}

.form-label,
.form-check-label{
  color: #FFF;
}

.upload-icon{
  margin: 0px 0px 2px 8px;
  color: #FFF !important;
}
.upload-done{
  color: #FFF;
}

.spinner-border{
  color: #6c5dd3;
}

@media (min-width: 1367px){
  .show-content{
    margin: 35px auto;
    width: 68%;
  }
}

@media (max-width: 1366px){
  .show-content{
    margin: 15px 150px !important;
  }
  .platfrom-label{
    display: block !important;
  }
}

@media (max-width: 992px){
  .form > .show-content{
    margin: 15px auto !important;
  }
  
}

@media (max-width: 767.99px){
  .show-content .left-content{
    padding-right: 0px !important;
  }
  
  .show-content .right-content{
    padding-left: 0px !important;
  }
}

@media (max-width: 485px){
  .platfrom-label{
    display: block !important;
  }
}